*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  color: white;
}

#bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

#bg-img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#quote-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

#quotes{
  z-index: 2;
  width: 90%;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  border-radius: 5%;
  margin: 1% auto;
}

#quotes div{
  padding: 2%;
}

#btns {
  display: flex;
  border-top: 2px solid white;
  width: 80%;
  margin: 1% auto;
  justify-content: space-around;
}

#btns div{
  border: 1px solid white;
  border-radius: 5%;
}

#btns div:hover{
  background-color: black;
  cursor: pointer;
}

#author-name{
  display: flex;
  justify-content: flex-end;
  gap: 1%;
}

#line-div{
  width: 15%;
  display: flex;
  align-items: center;
}

#line{
  background-color: white;
  width: 100%;
}

#title{
  font-size: 2em;
  font-weight: bold;
}

#quote-content{
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: scroll;
  height: 30vh;
}

#quote-content::-webkit-scrollbar {
  display: none;
}

#quote-content{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

#name{
  font-style: italic;
  font-size: 1.3em;
  text-align: center;
  color: aqua;
}

#about-author{
  overflow: scroll;
  height: 50vh;
  width: 90%;
  margin: 1% auto;
  padding-bottom: 3%;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

#about-author::-webkit-scrollbar {
  display: none;
}

#about-author{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

#about-author div{
  padding: 3%;
}

#auth-name{
  font-size: 2em;
  font-weight: bold;
  color: aqua;
  font-style: italic;
}

.auth-desc{
  font-size: 1.5em;
}

#hide-btn{
  border: 1px solid white;
  border-radius: 5%;
  width: 30%;
  margin: 1px auto;
}

#hide-btn:hover{
  background-color: black;
  cursor: pointer;
}

@media screen and (min-width:768px) {
  #quotes{
    width: 50%;
  }

  #about-author{
    width: 50%;
  }

}

@media screen and (min-width:1024px){
  #title{
    font-size: 3em
  }

  #quote-content{
    font-size: 2em;
  }

  #name{
    font-size: 2em;
  }

  #btns div{
    font-size: 1.5em;
  }

  #auth-name{
    font-size: 3em;
  }

  #auth-desc{
    font-size: 2em;
  }

  #hide-btn{
    font-size: 1.5em;
  }
}

